.Panel{
width: auto;
height:auto
}

.controlPanel{
height : 220px;


background-color: #fff;
margin-top : 10px;

width: auto;
height:auto
}
.slider{
    display : grid;
    grid-template-columns: 1fr 1fr  ;  
    align-items: center;
    justify-items: center; 
}
.ButtonContainer{
    display : flex;
    flex-direction: column;
    width : 320px;
    margin-top: 10px;
    margin-bottom : 10px;
}
.featureBox{
    display :flex;
    flex-direction: row;
}
