.test-grid {
  flex-grow: 1;
}

.test-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.test-header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
  margin-bottom: 1rem;
}

.property-panel-section{
  color:black;
}



/**progress button**/

@keyframes custom-rolling {
  0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
  100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

template {
  border: 2px solid green;
  border-style: dotted;
  border-radius: 50%;
  border-top-color: transparent;
  border-bottom-color: transparent;
  height: 16px;
  width: 16px;
}
  
.template {
  -webkit-animation: custom-rolling 1.3s linear infinite;
  animation: custom-rolling 1.3s linear infinite;
}

.rounded-box{
  background-color: white;
  box-shadow: 0px 5px 20px #4338F733;
  border-radius: 18px;
  opacity: 1;
}

.title-md{
  font-size:medium; 
  font-weight:bold;
  margin-left:10px;
}

.title-sm{
  font-size:small; 
  font-weight:bold;
  margin-top: '20px' 
}


.contents{
  margin-left:12px;
}


/*ag grid*/
.ag-theme-alpine {

  /* --ag-header-height: 30px; */
  /* --ag-header-foreground-color: white; */
  /* --ag-header-background-color: black; */
  /* --ag-header-cell-hover-background-color: rgb(80, 40, 140);
  --ag-header-cell-moving-background-color: rgb(80, 40, 140);  */
  
}

/* .ag-theme-alpine .ag-header-group-cell {
  font-weight: normal;
  font-size: 22px;
  color:#ABB6D3;
} */

/* .ag-theme-alpine .ag-header-cell {
  font-size: 18px;
} */

.ag-root-wrapper {
  background-color: white;
  box-shadow: 0px 5px 20px #4338F733;
  border-radius: 18px;
  opacity: 1;
  --ag-borders:none;
}

.ant-tag-checkable-checked{
  background-color:#4338f7
}

.example {
  margin: 20px 0;
  margin-bottom: 20px;
  padding: 30px 50px;
  text-align: center;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}



.ant-modal-root .ant-modal-mask {
  display:block;  /*hmid에 none처리 되어있음*/
  position: fixed;
  top: 0;
  inset-inline-end: 0;
  bottom: 0;
  inset-inline-start: 0;
  z-index: 1000;
  height: 100%;
  background-color: rgba(0,0,0,.45);
}

.w-100{
  width:100%;
}

.h-100{
  height:100%;
}

.h-90{
  height:90%;
}

.h-10{
  height:10%;
}