.test-grid {
  flex-grow: 1;
}

.test-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.test-header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
  margin-bottom: 1rem;
}

.property-panel-section{
  color:black;
}



/**progress button**/

@keyframes custom-rolling {
  0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
  100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

template {
  border: 2px solid green;
  border-style: dotted;
  border-radius: 50%;
  border-top-color: transparent;
  border-bottom-color: transparent;
  height: 16px;
  width: 16px;
}
  
.template {
  -webkit-animation: custom-rolling 1.3s linear infinite;
  animation: custom-rolling 1.3s linear infinite;
}

.rounded-box{
  background-color: white;
  box-shadow: 0px 5px 20px #4338F733;
  border-radius: 18px;
  opacity: 1;
}

.title-md{
  font-size:medium; 
  font-weight:bold;
  margin-left:10px;
}

.title-sm{
  font-size:small; 
  font-weight:bold;
  margin-top: '20px' 
}


.contents{
  margin-left:12px;
}


/*ag grid*/
.ag-theme-alpine {
  /* --ag-header-height: 30px; */
  /* --ag-header-foreground-color: white;
  --ag-header-background-color: black;
  --ag-header-cell-hover-background-color: rgb(80, 40, 140);
  --ag-header-cell-moving-background-color: rgb(80, 40, 140); */
}

.ag-root-wrapper {
  background-color: white;
  box-shadow: 0px 5px 20px #4338F733;
  border-radius: 18px;
  opacity: 1;
  --ag-borders:none;
}
