@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
@import "../../../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-react-buttons/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-react-popups/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-react-inputs/styles/material.css";

body {
  font-family: "DM Sans", sans-serif;
  /* background-color:#f4f7fe !important; */
}

option {
  color: black;
}

.ag-root-wrapper {
  background-color: white;
  box-shadow: 0px 5px 20px #4338F733;
  border-radius: 18px;
  opacity: 1;
  --ag-borders:none;
}


/* .js-plotly-plot .plotly .modebar{
  display:none;
} */               