@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import '../../../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../../../node_modules/@syncfusion/ej2-react-buttons/styles/material.css';
@import '../../../node_modules/@syncfusion/ej2-react-inputs/styles/material.css';
@import '../../../node_modules/@syncfusion/ej2-navigations/styles/material.css';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'assets/fonts/fontStyle.css';

body {
  font-family: 'DM Sans', sans-serif, 'ITC Avant Garde Gothic Pro';
  /* background-color:#f4f7fe !important; */
}

/* Chrome, Whale, Edge */

/* 스크롤바 전체 기본 꾸미기 */
body::-webkit-scrollbar {
  background: #d5dcef;
  border-radius: 12px;
  width: 12px;
}

/* 스크롤바 막대 꾸미기 */
body::-webkit-scrollbar-thumb {
  background: #332bbf;
}

/* 스크롤바 트랙 꾸미기 */
body::-webkit-scrollbar-track {
  background: #d5dcef;
}

option {
  color: black;
}

.ag-root-wrapper {
  background-color: white;
  box-shadow: 0px 5px 20px #4338f733;
  border-radius: 18px;
  opacity: 1;
  --ag-borders: none;
}

/* .js-plotly-plot .plotly .modebar{
  display:none;
} */
