/* 
2023-07-04 박윤희
d3 chart css
*/

.x.axis line {
  shape-rendering: auto;
}

.grid-lines line {
  stroke: gray;
  stroke-opacity: 0.1;
}
#tooltip {
  border: 1px solid #ccc;
  position: absolute;
  padding: 10px;
  background-color: #fff;
  display: none;
  pointer-events: none;
}
