
.e-file-select{
    display:none
}

.e-upload-files .e-upload-file-list .e-file-container .e-file-size .e-file-status{
   color:green
}


.upload_wrapper, .rtl_wrapper,.validation_wrapper {
    /* max-width: 530px; */
	margin: auto;
}

.upload_wrapper .e-upload, .rtl_wrapper .e-upload, .validation_wrapper .e-upload {
    width: 100%;
    position: relative;
    margin-top: 30px;
    /* background: transparent url('img/사각형 2439.png') 0% 0% no-repeat padding-box; */
    background-color:white;
    /* box-shadow: 0px 5px 20px #4338F733; */
    /* border-radius: 18px; */
    /* opacity: 1; */
}

.upload_wrapper .e-upload .e-upload-drag-hover, .rtl_wrapper .e-upload .e-upload-drag-hover,  .validation_wrapper .e-upload .e-upload-drag-hover {
    margin: 0;
}

#uploader .property-panel-content {
    min-height: 200px;
}

.property-section.preload-panel .property-panel-section {
    position: relative;
    padding-left: 30px;
}
.e-bigger .property-section.preload-panel {
	position: relative;
    padding-left: 35px;
}
.property-section .chunk-table {
    width: 100%;
    margin-top: 15px;
}
.chunk-td {
    width: 50%;
}

.default-check {
    margin-left: 50px;
    padding-top: 25px;
}

.panel-style {
    padding-top: 25px;
}

.e-css .e-btn{
    /* background-image:url('/src/assets/img/dataAnalysis/upload.png') */
    background-image:url('../../../assets/img/dataAnalysis/upload.png') !important

}


.contents {
    font-size: small;
    color:gray
}