#test_yunhee{
    background-image:url('./side_bar_bg.png');
    box-shadow:inset 0 0 0 2000px rgb(15 0 244 / 40%);
    /* filter: brightness(56%); */
    background-size: cover;
    background-position: left top;
    background-repeat: no-repeat;
}